{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd_cookie, ejabberd}.

{escalus_users, [
    {mary, [
        {username, "mary"},
        {server, "localhost"},
        {password, "rastafari"}]},
    {jane, [
        {username, "jane"},
        {server, "localhost"},
        {password, "israelite"}]}
]}.
