[submodule "test/escalus"]
	path = test/escalus
    url = https://github.com/lavrin/escalus
[submodule "deps/riak-erlang-client"]
	path = deps/riak-erlang-client
	url = https://github.com/basho/riak-erlang-client
